<div class="container">
  <div [formGroup]="form" class="form-container">
    <h3 class="title">{{language.getWord('petData')}}</h3>
    <div>
      <label class="label-input" for="text">{{language.getWord('name')}}:</label>
      <input class="input" formControlName="name" placeholder="{{language.getWord('name')}}" type="text" />
      <app-validator [control]="form.get('name')" />
    </div>
    <div>
      <label class="label-input" for="date">{{language.getWord('birthDay')}}</label>
      <input class="input" formControlName="birthDay" placeholder="{{language.getWord('birthDay')}}" type="date" />
      <app-validator [control]="form.get('birthDay')" />

    </div>

    <div>
      <label class="label-input" for="text">{{language.getWord('gender')}}:</label>
      <select name="cars" id="cars" formControlName="gender">
        <option value="" selected>{{language.getWord('select')}}</option>
        <option value="M">{{language.getWord('male')}}</option>
        <option value="F">{{language.getWord('female')}}</option>
      </select>
      <app-validator [control]="form.get('gender')" />
    </div>

    <div>
      <label class="label-input">{{language.getWord('type')}}:</label>
      <select (change)="downloadRaces($event)" formControlName="type">
        <option value="" selected>{{language.getWord('select')}}</option>
        <option *ngFor="let type of getTypes()"  value="{{type.id}}">{{type.type}}</option>

      </select>
      <app-validator [control]="form.get('type')" />

    </div>
    <div>
      <label class="label-input" for="text">{{language.getWord('race')}}:</label>
      <select  name="cars" id="cars" formControlName="race">
        <option value="" selected>{{language.getWord('select')}}</option>
        <option *ngFor="let race of getRaces()" [value]="race.id">{{ race.race }}</option>
      </select>
      <app-validator [control]="form.get('gender')" />
    </div>
    <div>
      <label class="label-input" for="text">{{language.getWord('description')}}:</label>
      <textarea formControlName="description" placeholder="{{language.getWord('description')}}" class="textarea" type="text" name="" id="" cols="30" rows="10"></textarea>
      <app-validator [control]="form.get('description')" />

    </div>
    <div>
      <input type="checkbox" id="vehicle1" name="vehicle1" formControlName="privacyPolicy" />
      <label class="check" for="vehicle1">
        {{language.getWord('privacy_and_notification_settings')}}</label>
    </div>

    <div>
      <input type="checkbox" id="vehicle1" name="vehicle1" formControlName="termsAndConditions" />
      <label class="check" for="vehicle1">{{language.getWord('acceptance_of_terms_and_conditions')}}
      </label>
    </div>
    <div>
      <button class="siguiente" (click)="goNext()">{{language.getWord('next')}}</button>
    </div>
  </div>
</div>
