.container_mobile {
  position: relative;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: solid 2px black;
  box-sizing: border-box;
  scroll-snap-align: start;
  .loading {
    width: 50px;
    height: 50px;
  }
  .story_container {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    img {
      width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .details {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      height: 100%;
      width: 100%;
      justify-content: space-between;
      position: absolute;
      top: 0;

      .profile {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80%;

        img {
          width: 70px;
          height: 70px;
          min-height: 50px;
          border: solid 1px gold;
          border-radius: 40px;
        }
        div {
          background-color: rgba(0, 0, 0, 0.11);
          display: flex;
          flex-direction: column;
          border-radius: 10vw;
          justify-content: center;

          height: 50vh;
          padding: 4px;
          h6 {
            color: gold;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size:15px;
            font-weight: 800;
            font-weight: bold;
            .like {
              font-size: 10vw;
              color: red;
            }
            .dislike {
              font-size: 10vw;
              color: white;
            }
          }
        }
      }
      .description {
        width: 100%;
        height: 25%;
        box-shadow: -1px -1px 10px rgba(128, 128, 128, 0.39);
        background-color: rgba(0, 0, 0, 0.185);
        padding: 10px;
        border-radius: 20px 20px 0 0;
        box-sizing: border-box;
        color: white;
        overflow-y: auto;
        h1 {
          font-size: larger;
          letter-spacing: 2px;
        }
        h3 {
          font-size: small;
          letter-spacing: 2px;
        }
      }
    }
  }
}

.container_cd {
  position: relative;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: solid 2px black;
  box-sizing: border-box;
  scroll-snap-align: start;
  .loading {
    width: 50px;
    height: 50px;
  }
  .story_container {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    img {
      width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .details {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      height: 100%;
      width: 100%;
      justify-content: space-between;
      position: absolute;
      top: 0;
      .profile {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80%;

        img {
          width:70px;
          height: 70px;
          min-height: 50px;
          border: solid 1px gold;
          border-radius: 40px;
        }
        h6 {
          color: gold;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 3vw;
          margin-top: 30px;
          .like {
            font-size: 12vw;
            color: red;
          }
          .dislike {
            font-size:12vw;
            color: white;
          }
        }
      }
      .description {
        width: 100%;
        height: 18%;
        background-color: rgba(0, 0, 0, 0.263);
        padding: 10px;
        box-sizing: border-box;
        color: white;
        overflow-y: auto;
        h1 {
          font-size: 4vw;
        }
        h3 {
          font-size: 3vw;
        }
      }
    }
  }
}

.material-symbols-rounded {
  font-size: 35px;
}


