<div [ngClass]="getDevice()">
  <div class="head">
    <span [routerLink]="['/petgram']"  class="material-symbols-rounded">arrow_circle_left</span>
  </div>
  <div #commendsContainer class="comments">
    <app-msg  *ngFor="let commends of story.comments" [commendData]="commends" />
  </div>
  <div class="chatbox">
    <div>
      <input form #chatBox type="text" placeholder="{{language.getWord('write_a_comment')}}:">
      <span  (click)="sendCommend()" class="material-symbols-rounded">send</span>
    </div>
  </div>
</div>

