<div  id="container" [ngClass]="getDevice()">
  <input (input)="open_close($event)"  type="checkbox" [id]="'open_close'+selectName" [ngStyle]="{'display':'none'}">
  <label class="head_lable"  [for]="'open_close'+selectName">
      <div class="head">
        <span class="material-symbols-rounded">expand_all</span>
        {{selectName}}
      </div>
    </label>

  <div id="data_container" class="data_container" [ngStyle]="dataContainerStyle[dataContainerStyleNumber]">
    <app-option *ngFor="let option of options" [type]="option.type" [name]="option.name" [value]="option.value" [route]="option.route" [id]="'open_close'+selectName+option.name"/>
  </div>
</div>
<!--

<div class="section2-slide">
  <select  (change)="getEachPet(selectOption)" [(ngModel)]="selectOption">
    <option *ngFor="let pet of getUser().pets" value="{{pet.name}}">{{pet.name | uppercase}}</option>
  </select>
</div> -->
