 <div [ngClass]="getDevice()">


  <div class="head">
    <span class="material-symbols-rounded back-arrow" [routerLink]="['/petgram','settings']">
      arrow_back
    </span>
  </div>

  <h4 style="color:#FBB033 ;">You're about to remove pet: {{petName}}</h4>

 <form [formGroup]="passForm" ngSubmit="" class="password-field">
    <!-- <div class="input-pair">
      <label for="password">Your password</label>
    <input type="password" placeholder="enter your password" #enteredPassword formControlName="password">

    </div>
    <div class="input-pair">
      <label for="confirmPassword">Confirm password</label>
    <input type="password" placeholder="confirm password" id="confirmPassword" formControlName="passwordConfirm">
    <div *ngIf="passForm.getError('confirmError') && passForm.get('passwordConfirm')?.touched">
      <span style="color: red;">
          Passwords don't match!
      </span>
    </div>
  </div> -->
  <input type="button" (click)="removePet()" class="save-btn"   value="Confirmar">


</form>

<!-- <div *ngIf="!isPasswordCorrect; else elseCond">
 <p style="color: red;">Password incorrect , try again!</p>
</div>

<ng-template #elseCond>
  <form action="">
    <input type="checkbox">
  </form>
</ng-template>  -->


 </div>
