<!-- <button routerLink="/signup/data-pet">Datos del usuario</button>
<form [formGroup]="dataUser" (ngSubmit)="save()">
  <div>
    <label for="fullName">Nombre Completo:</label>
    <input type="text" id="fullName" formControlName="fullName" />
  </div>
</form>
 -->


<div class="container">
  <div class="form-container" [formGroup]="form">
    <h3 class="title">{{language.getWord('userData')}}</h3>
    <div>
      <label for="name">{{language.getWord('name')}}:</label>
      <input formControlName="name" placeholder="{{language.getWord('name')}}" type="text" />
      <app-validator [control]="form.get('name')" />
    </div>
    <div>
      <label for="lastName">{{language.getWord('lastName')}}:</label>
      <input formControlName="lastName" placeholder="{{language.getWord('lastName')}}" type="lastName" />
      <app-validator [control]="form.get('lastName')" />
    </div>
    <div>
      <label class="label-input" for="date">{{language.getWord('birthDay')}}:</label>
      <input class="input" formControlName="birthDay" type="date" />
      <app-validator [control]="form.get('birthDay')" />
    </div>
    <div>
      <label for="name">{{language.getWord('address')}}:</label>
      <input formControlName="address" placeholder="{{language.getWord('address')}}" type="text" />
      <app-validator [control]="form.get('address')" />
    </div>
    <div>
      <label for="name">{{language.getWord('city')}}:</label>
      <select formControlName="city" >
        <option value="" selected >{{language.getWord('select_a_country')}}</option>
        <option *ngFor="let city of cities" value="{{city.id}}">{{city.city}}</option>
      </select>
      <app-validator [control]="form.get('city')" />
    </div>
    <div>
      <label for="name">{{language.getWord('postalCode')}}:</label>
      <input formControlName="postalCode" placeholder="{{language.getWord('postalCode')}}" type="number" />
      <app-validator [control]="form.get('postalCode')" />
    </div>
    <div>
      <label for="email">{{language.getWord('email')}}:</label>
      <input formControlName="email" placeholder="{{language.getWord('email')}}" type="email" id="email" name="email" />
      <app-validator [control]="form.get('email')" />
    </div>
    <div>
      <label for="phone">{{language.getWord('phone')}}:</label>
      <input formControlName="phone" type="number" placeholder="+34" />
      <app-validator [control]="form.get('phone')" />
    </div>

    <div>
      <label for="password">{{language.getWord('password')}}:</label>
      <input formControlName="password" placeholder="{{language.getWord('password')}}" type="password" />
      <app-password-validator [control]="form.get('password')" />
    </div>
    <div>
      <label for="confirmpassword">{{language.getWord('password_confirmation')}}:</label>
      <input formControlName="confirmPassword" placeholder="{{language.getWord('password_confirmation')}}" type="password" />
      <app-password-validator [control]="form.get('confirmPassword')" />
    </div>
     <div>
    <button class="siguiente" (click)="goNext()">{{language.getWord('next')}}</button>
  </div>
</div>
  </div>

