.container_mobile {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  h3 {
    color: #FBB034;
    font-size: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 17px;
    box-sizing: border-box;
    position: fixed;
    border-radius: 0 0 30px 30px;
    background-color: #575757;
    z-index: 10;
    margin: 0;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.705);
  }
  div {
    transform: translateY(30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    label {
      color: white;
      font-size: 12px;
      margin-bottom: 5px;
    }

    input {
      padding: 15px;
      border-radius: 8px;
      width: 70vw;
      border: 1px solid #FFF;
      background: #575757;
      color: white;
      outline: none;
    }



    button {
      width: 260px;
      height: 50px;
      flex-shrink: 0;
      border-radius: 10px;
      background: #FBB034;
      padding: 15px;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 1.5px;
      margin-bottom: 20px;
      border: 1px solid #FFF;
      color: #FFF;
    }
  }

  select {

    padding: 15px;
    border-radius: 8px;
    width: 78vw;
    border: 1px solid #FFF;
    background: #575757;
    color: white;
    outline: none;

  }


}
