.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}
.img{
  object-fit: cover;
}
.img2{
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #FBBE5A;
}

.next {
  text-align: center;
  color: #f4f4f4;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 50px;
  font-size: 20px;
}

.title {
  text-align: center;
  color: #FBBE5A;
  font-size: 30px;
}
button {
  width: 210px;
  height: 40px;
  background: #fbb034;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}
.position-button {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font: Roboto;
  size:20 px;
}

