.container_mobile {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  .img {
    width: 50vw;
    height: 50vw;
    margin: 20px;
  }
  .img2 {
    width: 47vw;
    height: 47vw;
    margin: 20px;
    border: solid 1px white;
    border-radius: 50vw;
    box-shadow: .5px .5px 5px 2px #FBB034;
    object-fit: cover;
  }
  h3 {
    font-size: 20px;
  }

  button {
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FBB034;
    padding: 15px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    border: 1px solid #FFF;
    color: #FFF;
    margin: 20px;

  }
}
