<div class="container">
  <div>
    <mat-tab-group>

      <mat-tab label="{{language.getWord('followers')}}">

        <section class="example-container mat-elevation-z8" tabindex="0">
          <table   class="table" mat-table [dataSource]="friendsService.dsFollowers">

            <ng-container  matColumnDef="follower" sticky>
              <td mat-cell *matCellDef="let element">
                <div  class="content-follows">
                  <div>
                    <img loading="lazy" [src]="getURL()+'/'+element.image" (click)="goProfile(element)">
                  </div>
                  <h1 id="username">
                    {{element.name}} {{element.lastName}}
                  </h1>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="action" stickyEnd>
              <td mat-cell *matCellDef="let element">
                <button mat-stroked-button class="float-right" (click)="deleteFollower(element)">{{language.getWord('delete')}}</button>
              </td>
            </ng-container>

            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </section>

      </mat-tab>

      <mat-tab label="{{language.getWord('pendingFollowers')}}">
        <section class="example-container mat-elevation-z8" tabindex="0">
          <table  class="table" mat-table [dataSource]="friendsService.dsPendingFollowers">

            <ng-container matColumnDef="follower" sticky>
              <td mat-cell *matCellDef="let element">
                <div class="content-follows">
                  <div>
                    <img loading="lazy" [src]="getURL()+'/'+element.image" (click)="goProfile(element)">
                  </div>
                  <h1 id="username">
                    {{element.name}} {{element.lastName}}
                  </h1>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="action" stickyEnd>
              <td mat-cell *matCellDef="let element">

                <div class="div-container-button">
                  <button [style]="{background:getColors().c3}" mat-stroked-button class="button-pending-follower"
                    (click)="acceptFollower(element)">{{language.getWord('accept')}}</button>
                  <button [style]="{background:getColors().c3}" mat-stroked-button class="button-pending-follower"
                    (click)="deleteFollower(element)">{{language.getWord('delete')}}</button>
                </div>

              </td>
            </ng-container>

            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </section>

      </mat-tab>
      <mat-tab label="{{language.getWord('following')}}">
        <section class="example-container mat-elevation-z8" tabindex="0">
          <table class="table" mat-table [dataSource]="friendsService.dsFollowing">

            <ng-container matColumnDef="follower" sticky>
              <td mat-cell *matCellDef="let element">
                <div class="content-follows">
                  <div>
                    <img loading="lazy" [src]="getURL()+'/'+element.image" (click)="goProfile(element)">
                  </div>
                  <h1 id="username">
                    {{element.name}} {{element.lastName}}
                  </h1>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="action" stickyEnd>
              <td mat-cell *matCellDef="let element">

                <div class="div-container-button">
                  <button mat-stroked-button class="button-pending-follower"
                    (click)="deleteFollowing(element)">{{language.getWord('delete')}}</button>
                </div>

              </td>
            </ng-container>

            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </section>
      </mat-tab>

    </mat-tab-group>
  </div>
