.container {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  margin-top: 20px;
}

.mat-mdc-tab-labels {
  margin: 0;
  padding: 0;
}



::ng-deep {
  .mdc-tab__text-label {
    color: white;
    padding: auto;
  }

  .mdc-tab-indicator--active {
    background-color: #FBB034;
    border-radius: 5px 5px 0 0;

  }

  .mdc-tab-indicator .mdc-tab-indicator__content {
    // border: none;
    color: #FBB034;
  }

  .mdc-tab {

  }
  .mat-mdc-tab.mdc-tab {
    height: 40px !important
}
.mat-mdc-tab-header-pagination {
color: #FBB034;
}
.mat-mdc-outlined-button:not(:disabled){
  color:white !important
}
.mdc-data-table__cell {
  color:white !important
}
.mat-mdc-tab-header {
  padding-top: 0px;
}
.mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
  flex-grow: 1;
  padding-left: 0px;
  padding-right: 1px;
}

.content-follows {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-y: auto;
  border: 0;
  box-sizing: border-box;
  h1 {
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.342);
    font-weight: 800;
    color: rgb(56, 56, 56);
    font-size: 15px;
    overflow-x: auto;
    display: flex;
    flex: .35;
  }

  .animate {
    animation: desplazamiento 10s linear infinite;
  }

  @keyframes desplazamiento {
    0% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  div {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    margin: 10px;
    object-fit: cover;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.534);
    img {
      width: 100%;
      height: 100%;
      border-radius: 40vw;
      position: absolute;
      z-index: 10;

      border: solid 1px white;
      object-fit: cover;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.534);
    }
  }
}

button.float-right {
  float: right;
  background-color: #FBB034;
  border: solid 1px rgb(88, 88, 88);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.342);
  font-size: 14px;
  color: rgb(66, 66, 66);
}

.float-right {
  color: rgb(66, 66, 66);

}

.div-container-button {
  display: flex;
  justify-content: end;
}

.button-pending-follower {
  background-color: #FBB034;
  border: solid 1px rgb(88, 88, 88);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.342);
  font-size: 14px;
  color: rgb(66, 66, 66);
  background-color: #FBB034 !important;
  border-radius: 1rem;
  font-size: 14px;
  margin-right: 10px;
}

.table {
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}
.icono{
height: 25%;
width: 25%;
}


}


.mat-mdc-table {
  background-color: #FBB034;

  width: 100vw;
}
.mat-mdc-tab::-webkit-scrollbar {
  width: 0;
}

.mdc-data-table__table {

  width: 100vw;
}

.cdk-table {
  padding: 5px;
  margin: 0;
  width: 100vw;
}



