<div [ngClass]="getDevice()">

  <span class="material-symbols-rounded back-arrow"  [routerLink]="['/petgram','settings']"  style="margin:8px; color:white">
    arrow_back
  </span>

  <div class="img-container"  *ngIf="isImgSrc; else elseCond">
   <img *ngIf="imageSrc" src="{{imageSrc}}"  alt="{{getUser().name}}" >
  </div>


  <ng-template class="img2-container"  #elseCond  >
    <span class="material-symbols-rounded"  (click)="editImg()">
      edit
    </span>
    <img  [src]="getUser().image" alt="New Photo" class="img-style" >
  </ng-template>



<div class="form-container">
   <form action="" *ngIf="isEdit">

     <div class="input-pair">
       <label for="avatar">upload photo</label>
       <input type="file" (change)="uploadFile($event)" accept="image/*"  >
      </div>

      <button (click)="saveImg()" class="save-btn">Save</button>

   </form>
</div>
</div>
