.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.next {
  text-align: center;
  color: #f4f4f4;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 50px;
  font-size: 20px;
}

.title{
  text-align: center;
  color: #FBBE5A;
  font-size: 30px;

}
