<app-loading [display]="getProfileData()" />
<div *ngIf="getProfileData()" [ngClass]="getdevice()">
  <div class="head_friends">
    <span routerLink="/petgram/home"  class="material-symbols-rounded">arrow_circle_left</span>
    <div class="head">
      <img [src]="getProfileData().profileImage" alt="">
      <h1>{{getProfileData().userName}}</h1>
      <input  class="follow" type="button" value="Seguir">
      <!-- <input class="unFollow" type="button" value="Dejar de seguir"> -->
    </div>
    <h3 class="title">Contactos</h3>
    <div class="followers">
      <app-follower *ngFor="let follower of getProfileData().followers" [device]="getdevice()" [Image]="follower.image" [user]="follower.user" [userName]="follower.userName"  />
    </div>
  </div>
  <div class="gallerys">
    <app-media-gallery name="Todos Publicaciones" [user]="getProfileData().user" [storys]="getProfileData().storys" />
    <app-media-gallery *ngFor="let pet of getProfileData().pets" [name]="pet.name" [user]="getProfileData().user" [storys]="storysFilter(pet.name)" [petData]="pet"  />

  </div>
  <div>

  </div>
</div>
<router-outlet />
