.container_mobile {
  position: relative;
  width: 33vw;
  height: 33vw;
  background-color: rgb(88, 88, 88);
  border: solid rgb(85, 85, 85) 1px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1px;
  img {
    width: 50%;
    height: 505;

  }
  .mediya {
    width: 33vw;
    height: 33vw;
    object-fit: cover;
  }
}
