<<<<<<< HEAD
.container_mobile {
=======
// DESKTOP
.container {
  height: 100%;
  width: 100%;
  position: absolute;
  background: url(/assets/images/pets.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// MOBILE/TABLET
@media only screen and (max-width: 768px) {
  .container {
    background: url(/assets/images/firstPages.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

button {
  width: 210px;
  height: 40px;
  background: #fbb034;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}
>>>>>>> 02f44bc8dd0da8cfde6fc844bf255a9a38915571

  .image-container {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    img {
      object-fit: cover;
  width: 100%;
  height: 100%;
    }
  }
  .centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    h1 {
      color: #fbb034;
      font-size: 50px;
      margin-bottom: 30px;


    }

    button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #fbb034;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
  }
}
















