

.first-page {
  text-align: center;
  padding: 50px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  background-color: #fbb034;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
