<div [style]="{background:getColors().c1}" [ngClass]="getDevice()">

  <img
    class="icon"
    src="assets/images/icon.svg"
    alt="Girl in a jacket"
    width="100%"
    height="250"
  />
  <form [formGroup]="form" (ngSubmit)="sendData()">
    <div>
      <label for="email">{{language.getWord('email')}}:</label>
      <input
      [style]="{border:'solid 1px '+getColors().c4,color:getColors().c4,background:getColors().c2}"
        formControlName="email"
        placeholder="{{language.getWord('enter_an_email_address')}}"
        type="email"
      />
      <app-validator [control]="form.get('email')" />

    </div>
    <br />
    <div [style]="{color:getColors().c4}">
      <label for="pwd">{{language.getWord('password')}}</label>
      <input
        [style]="{border:'solid 1px '+getColors().c4,color:getColors().c4,background:getColors().c2}"
        formControlName="password"
        placeholder="{{language.getWord('enter_the_password')}}"
        type="password"
      />
      <app-password-validator [control]="form.get('password')" />

    </div>
    <h2 *ngIf="error">{{language.getWord('username_or_password_does_not_exist')}}</h2>

    <br /><br />
    <br /><br />
    <div class="register">
      <input [style]="{border:'solid 1px '+getColors().c4,color:getColors().c4,background:getColors().c3}" class="button-login" type="submit" [value]="language.getWord('login')" />
    </div>
  </form>
  <div class="register">
    <a [style]="{color:getColors().c4}" routerLink="/signup">{{language.getWord('register')}}</a>
  </div>
</div>
