
<div *ngIf="getProfileData()" [ngClass]="getDevice()">
  <div *ngIf="getMyProfile()" class="head_friends">
    <span (click)="back()"  class="material-symbols-rounded">arrow_circle_left</span>
    <div class="head">
      <img [src]="getProfileData().image" alt="">
      <h1>{{getProfileData().fullName}}</h1>
      <input (click)="follow()" *ngIf="!pendingFollowersSearch() && !followersSearch() " class="follow" type="button" value="{{language.getWord('follow')}}">
      <input *ngIf="pendingFollowersSearch()" class="pendingFollower" type="button" value="{{language.getWord('pending_follower')}}">
      <input *ngIf="followersSearch()" class="unFollow" type="button" value="{{language.getWord('unfollow')}}">
      <!-- <input class="unFollow" type="button" value="Dejar de seguir"> -->
    </div>
    <h3 class="title">{{language.getWord('contacts')}}</h3>
    <div class="followers">
      <app-follower *ngFor="let follower of getProfileData().followers" [device]="getDevice()" [Image]="follower.image" [user]="follower.id" [fullName]="follower.name+' '+follower.lastName"  />
    </div>
  </div>
  <div class="gallerys">
    <app-media-gallery name="{{language.getWord('all_storys')}}" [user]="getProfileData().id" [storys]="getProfileData().storys" />
    <app-media-gallery *ngFor="let pet of getProfileData().pets" [name]="pet.name" [user]="getProfileData().id" [storys]="storysFilter(pet.id)" [petData]="pet"  />

  </div>
  <div>

  </div>
</div>
<router-outlet />
