
<div *ngIf="getUser()" [ngClass]="getDevice()">

  <header>

      <div class="img-container">
        <div class="i-container">
          <a routerLink="upload-img"> <img [src]="getUser().image" alt=""> </a>

       </div>
      </div>

      <h4>{{getUser().name}} {{getUser().lastName}}</h4>

  </header>


  <main>

    <section class="user-data">

     <h3 class="head-slide" style="color: white; padding:10px; background-color:gray;" (click)="toggleMenu()"> User Data <i class="fa-solid fa-user-pen"></i></h3>

     <form [formGroup]="userForm" (ngSubmit)="save()" [ngClass]="{'menu-open': isMenuOpen}">
      <div class="input-pair">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" placeholder="getUser().email" [ngClass]="{ 'text-style': !editMode, 'input-style': editMode }" [disabled]="!editMode">
        <span class="material-symbols-rounded" style="color: white;" (click)="editInput(getUser().email)">
          edit
        </span>
      </div>

      <div class="input-pair">
        <label for="name"> Name:</label>
        <input type="text" id="name" formControlName="name" [placeholder]="getUser().name" [ngClass]="{ 'text-style': !editMode, 'input-style': editMode }" [disabled]="!editMode">
        <span class="material-symbols-rounded" style="color: white;"  (click)="editInput(getUser().name)">
          edit
        </span>
      </div>
      <div class="input-pair">
        <label for="last-name">  Last Name:</label>
        <input type="text" id="last-name" formControlName="lastName" [placeholder]="getUser().lastName" [ngClass]="{ 'text-style': !editMode, 'input-style': editMode }" [disabled]="!editMode">
        <span class="material-symbols-rounded" style="color: white;"  (click)="editInput(getUser().lastName)">
          edit
        </span>
      </div>

      <div class="input-pair">
        <label for="last-name">City:</label>
        <input type="number" id="city" formControlName="country" [placeholder]="getUser().country" [ngClass]="{ 'text-style': !editMode, 'input-style': editMode }" [disabled]="!editMode">
        <span class="material-symbols-rounded" style="color: white;"  (click)="editInput(getUser().country)">
          edit
        </span>
      </div>

      <div class="input-pair">
        <label for="last-name">Address:</label>
        <input type="text" id="address" formControlName="address" [placeholder]="getUser().address" [ngClass]="{ 'text-style': !editMode, 'input-style': editMode }" [disabled]="!editMode">
        <span class="material-symbols-rounded" style="color: white;"  (click)="editInput(getUser().address)">
          edit
        </span>
      </div>
      <div class="input-pair">
        <label for="postal-code">Zip Code:</label>
        <input type="text" id="postal-code" formControlName="postalCode" [placeholder]="getUser().postalCode" [ngClass]="{ 'text-style': !editMode, 'input-style': editMode }" [disabled]="!editMode">
        <span class="material-symbols-rounded" style="color: white;"  (click)="editInput(getUser().postalCode)">
          edit
        </span>
      </div>




<!--
      <div class="input-pair">
       <label for="avatar">upload photo</label>
       <img *ngIf="imageSrc" src="{{imageSrc}}" style="max-width: 150px;" alt="">
       <input type="file" (change)="uploadFile($event)">
      </div> -->



    </form>



    </section>


    <section class="user-data" >

        <div class="section2-slide">
           <h3 class="head-slide" (click)="toggleMenu2()"> Pet Data </h3>
           <select  (change)="getEachPet(selectOption)" [(ngModel)]="selectOption">
             <option *ngFor="let pet of getUser().pets" value="{{pet.name}}">{{pet.name | uppercase}}</option>
           </select>
        </div>



      <form [formGroup]="petForm"  [ngClass]="{'menu-open': isMenuPetOpen}" onsubmit="updatePet()">

      <div class="input-pair">
        <label for="name"> Name:</label>
        <input type="text" id="name" formControlName="name" [placeholder]="selectedPet?.name" [ngClass]="{ 'text-style': !editMode, 'input-style': editMode }" [disabled]="!editMode">
        <span class="material-symbols-rounded" style="color: white;"  (click)="editInput(getUser().name)">
          edit
        </span>
      </div>

      <div class="input-pair">
        <label for="type"> type:</label>
        <select (change)="change_type($event)" name="" id="">
          <ng-template ngFor let-type [ngForOf]="types" >
            <option *ngIf="type.id == selectedPet?.type" selected [value]="type.id">{{type.type}}</option>
          </ng-template>
          <ng-template ngFor let-type [ngForOf]="types" >
            <option *ngIf="type.id !== selectedPet?.type" [value]="type.id">{{type.type}}</option>
          </ng-template>
        </select>
        <!-- <input type="number" id="type" formControlName="type" [placeholder]="selectedPet?.type" [ngClass]="{ 'text-style': !editMode, 'input-style': editMode }" [disabled]="!editMode"> -->
        <span class="material-symbols-rounded" style="color: white;"  (click)="editInput(getUser().name)">
          edit
        </span>
      </div>
      <div class="input-pair">
        <label for="type"> Race:</label>
        <select  [ngClass]="{ 'text-style': !editMode, 'input-style': editMode }" name="" id="race">
          <ng-template ngFor let-race [ngForOf]="races" >
            <option *ngIf="race.id == selectedPet?.race" selected [value]="race.id">{{race.race}}</option>
          </ng-template>
          <ng-template ngFor let-race [ngForOf]="races" >
            <option *ngIf="race.id !== selectedPet?.race" [value]="race.id">{{race.race}}</option>
          </ng-template>
        </select>
        <!-- <input type="number" id="type" formControlName="type" [placeholder]="selectedPet?.type" [ngClass]="{ 'text-style': !editMode, 'input-style': editMode }" [disabled]="!editMode"> -->
        <span class="material-symbols-rounded" style="color: white;"  (click)="editInput(getUser().name)">
          edit
        </span>
      </div>

      <div class="input-pair">
        <label for="race"> Race:</label>
        <input type="text" id="race" formControlName="name" [placeholder]="selectedPet?.race" [ngClass]="{ 'text-style': !editMode, 'input-style': editMode }" [disabled]="!editMode">
        <span class="material-symbols-rounded" style="color: white;"  (click)="editInput(getUser().name)">
          edit
        </span>
      </div>

      <div class="input-pair">
        <label for="gender"> Gender:</label>
        <input type="text" id="gender" formControlName="gender" [placeholder]="selectedPet?.gender" [ngClass]="{ 'text-style': !editMode, 'input-style': editMode }" [disabled]="!editMode">
        <span class="material-symbols-rounded" style="color: white;"  (click)="editInput(getUser().name)">
          edit
        </span>
      </div>


     </form>

    </section>

    <section class="user-data">

      <h3 style="color: white; padding:10px; background-color:gray; " (click)='toggleMenu3()'> Add Pet <i class="fa-solid fa-user-pen"></i></h3>

      <form [formGroup]="petForm"  [ngClass]="{'menu-open': isMenuNewOpen}" onsubmit="addPet()">

        <div class="input-pair">
          <label for="name"> Name:</label>
          <input type="text" id="name" formControlName="name" placeholder="new pet's name" [ngClass]="{ 'text-style': !editMode, 'input-style': editMode }" [disabled]="!editMode">
          <span class="material-symbols-rounded" style="color: white;"  (click)="editInput(getUser().name)">
            edit
          </span>
        </div>

        <div class="input-pair">
          <label for="race"> Race:</label>
          <input type="text" id="race" formControlName="name" placeholder="new pets's race" [ngClass]="{ 'text-style': !editMode, 'input-style': editMode }" [disabled]="!editMode">
          <span class="material-symbols-rounded" style="color: white;"  (click)="editInput(getUser().name)">
            edit
          </span>
        </div>

        <div class="input-pair">
          <label for="gender"> Gender:</label>
          <input type="text" id="gender" formControlName="gender" placeholder="new pet's gender" [ngClass]="{ 'text-style': !editMode, 'input-style': editMode }" [disabled]="!editMode">
          <span class="material-symbols-rounded" style="color: white;"  (click)="editInput(getUser().name)">
            edit
          </span>
        </div>
        <div class="input-pair">
          <label for="birthday"> Birthday:</label>
          <input type="text" id="birthday" formControlName="birthDay" placeholder="new pet's gender" [ngClass]="{ 'text-style': !editMode, 'input-style': editMode }" [disabled]="!editMode" >
          <span class="material-symbols-rounded" style="color: white;"  (click)="editInput(getUser().name)">
            edit
          </span>
        </div>
        <div class="input-pair">
          <label for="description"> Description:</label>
          <input type="text" id="description" formControlName="description" placeholder="new pet's gender" [ngClass]="{ 'text-style': !editMode, 'input-style': editMode }" [disabled]="!editMode" >
          <span class="material-symbols-rounded" style="color: white;"  (click)="editInput(getUser().name)">
            edit
          </span>
        </div>

       <input type="submit"  value="add pet">
       </form>
    </section>

    <section  class="user-data" >
      <h3 class="delete-pet-slide" style="color:#ffffff; padding:10px; background-color:gray;" (click)="toggleMenu4()"> Delete Pet<i class="fa-solid fa-user-pen"></i></h3>
      <form  [ngClass]="{'menu-open': isMenuDelOpen}">
        <h3 style="color: #FBB033; padding:5px">Choose to delete</h3>
      <ol *ngFor="let pet of getUser().pets, index as i" style="color: white; ">
       <li><a (click)="pet_delete_routing($event)" [id]="pet.id"  style="color:white; font-size: 22px; text-decoration:none">{{pet.name}}</a></li>
      </ol>

      </form>
    </section>
  </main>
</div>
<router-outlet />
