.container_mobile {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  * {
    box-sizing: 2px 2px 2px 1px border-box;
    margin: 0;
  }


  .header {
    padding-top: 10px;
    width: 95%;
    height: 50px;
    display: flex;
    align-items: center;
    font-family: 'robot', sans-serif;
    border-radius: 0 0 30px 0px;
    box-shadow: 1px 1px 10px black;
    img {
      width: 90px;
      height: 90px;
      border-radius: 100px;
      margin-top: 50px;
      object-fit: cover;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.582);
    }

    span {
      position: absolute;
      top: 10px;
      right: 10px;
      color: white;
    }


    h4 {
      color: #FBB033;
      font-family: 'robot', sans-serif;
      font-size: 20px;
      text-shadow: 1px 1px 10px black;
    }
  }



  // header finished


  //--------- section1 ---------
  main {
    margin-top: 80px;
    .user-data {
      width: 95vw;
      padding: 10px;
      background-color: rgb(82, 82, 82);
      box-shadow: 1px 1px 10px black;
      border-radius: 5px;
      margin-top: 1px;
      h3 {
        color: #FBB033;
        padding: 0px;
        font-weight: bold;
        border-bottom: solid 1.5px #FBB033;
        text-shadow: .5px .5px 15px black;
      }

      box-sizing: border-box;
      .head-slide {
        width: 100%;
        margin: 0;
        font-family: 'robot', sans-serif;
        background-color: rgb(82, 82, 82);
        padding: 0px;
        color: #FBB033 !important;
        select {
          background-color: #808080;

        }
      }



      // --------- form1 and its properties -------
      #delDiv {
        display: block;
        width: 80%;
        margin: 20px auto;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
      }

      form {
        display: block;
        width: 100%;
        max-height: 0;
        overflow: auto;
        transition: max-height 0.3s ease-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        ol {
          all: unset;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 5px;
          background-color: #FBB033;
          border-radius: 5px;
          margin-top: 5px;
        }
        .section2-slide {
          label {
            color: white;
            margin: 10px;
          }
          select {
            width: 97%;
            padding: 10px;
            box-sizing: border-box;
            background-color: #FBB033;
            color: #f4f4f4;
            border: 0;
            border-radius: 0px 0px 8px 8px
          }
        }
        .input-pair {
          display: grid;
          margin-top: 10px;
          grid-template-columns: 30% 70%;
          border: none;
          padding: 8px;
          border: 1px solid #ffffff;
          border-radius: 5px;
          display: flex;
          align-items: center;
          background-color: #363636;
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.493);

          span {
            color: #ffffff;
            margin-left: 30px;


          }

          label {
            width: 100px;
            display: block;
            font-size: 14px;
            color: #ffffff;
            font-size: 14px;
            margin-bottom: 5px;
            font-family: 'robot', sans-serif;
            text-shadow: 1px 1px 10px black;
          }

          input {
            box-sizing: border-box;
            width: 200px;
            outline: none;
            font-size: 14px;
            color: white;
            background-color: #363636;
            border: 0;
            border-bottom: solid 1.5px #f4f4f4;
            padding: 6px;

          }

          select {
            box-sizing: border-box;
            width: 200px;
            outline: none;
            font-size: 14px;
            color: white;
            background-color: #363636;
            border: 0;
            border-bottom: solid 1.5px #f4f4f4;
            padding: 6px;
          }

        }

        .submit-btn {
          background: #fbb034;
          border-radius: 10px;
          width: 150px;
          margin: 8px auto;
          font-size: 20px;
          color: #f4f4f4;
          padding: 8px 12px;
          border: solid 1px white;
          margin-top: 15px;
          box-shadow: 1px 1px 10px black;
          margin-left: 10px;
        }
      }

      form::-webkit-scrollbar {
        width: 0;
      }

      select {
        color: white;
        background: transparent;
        margin-left: 5px;
      }

      //------------ form1 finished -----------

      .menu-open {
        max-height: 300px;
        /* Adjust the height as needed */
        display: block;
        overflow: auto;
      }
    }
  }




}
